*{
    margin: 0px;
}

#descripcion{
margin-left: 350px;
}

#button-siguiente{
  margin-left: 500px;
}

#contenedor_padre{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#datos_generales{
    background-color: #F1F4F9;
    width: 600px;
    height: 50px;
    border-radius: 10px;
}

#titulo_datos{
text-align: center;
}

#contenedor_hijo {
    flex-wrap: wrap;
}


.datepicker table {
    width: 100%;
  }
  
  .datepicker table thead th,
  .datepicker table tbody td {
    text-align: center;
    padding: 0.75rem;
  }
  
  .datepicker table thead th {
    font-weight: bold;
  }
  
  .datepicker table tbody td {
    cursor: pointer;
  }
  
  .datepicker table tbody td.today {
    font-weight: bold;
  }
  
  .datepicker table tbody td:hover,
  .datepicker table tbody td.active,
  .datepicker table tbody td.active:hover {
    background-color: #f0f0f0;
  }
  
  .datepicker-dropdown {
    z-index: 2000;
  }
  
  .btn-custom {
    width: 100px; /* Puedes ajustar este valor según sea necesario */
  }