#imagenlogo {
    margin-bottom: 50px;
    margin-top: 30px;
    margin-left: 10px;
}	

.navbar {
    box-shadow: 0px 4px 8px -2px rgba(0, 0, 0, 0.3);
}

.app-header {
    padding: 0 !important;
}

.navbar-nav .nav-link span {
    margin-left: 10px;
    font-size: 36px !important; /* Tamaño de fuente más grande */
    font-weight: 1000; /* Aumentar la negrita (varía según la fuente, algunas usan 700 o más) */
    font-family: "Roboto", sans-serif; /* Familia de fuentes */
    text-decoration: none; /* Eliminar el subrayado del texto */
    color: #000; /* Color de texto negro */
}

.navbar-nav .nav-link span:hover {
    color: #000; /* Color de texto negro al pasar el mouse */
}

.navbar-collapse .nav-item {
    margin-right: 10px; /* Ajusta el valor según sea necesario */
}


.navbar-collapse .nav-item .user-details {
    margin-right: 50px; /* Ajusta el valor según sea necesario */
}


.submenu {
    background-color: #ffffff; /* Cambia el color de fondo si lo deseas */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agrega sombra */
    padding: 10px 0; /* Espaciado interno */
    margin-top: 10px; /* Espaciado externo */
  }
  
  .submenu-item {
    list-style: none;
  }
  
  .submenu-link {
    display: block;
    color: #000000; /* Color de texto negro */
    text-decoration: none;
    padding: 8px 20px; /* Espaciado interno */
    transition: background-color 0.3s ease; /* Transición de color de fondo */
  }
  
  .submenu-link:hover {
    background-color: #f0f0f0; /* Cambia el color de fondo al pasar el mouse */
  }
  

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .form-container {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .form-header h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }
  
  .form-body {
    margin-bottom: 20px;
  }
  
  .input-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .input-group .input-icon {
    margin-right: 10px;
  }
  
  .input-group input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .filter-section label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .filter-section select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-footer {
    text-align: center;
  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .user-table th, .user-table td {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .user-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
  }
  
  .user-table td {
    text-align: center;
  }
  

  /* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


  

  
  @media screen and (max-width: 767px) {
    /* Estilos para pantallas pequeñas (hasta 767px de ancho) */
    /* Aquí puedes agregar estilos específicos para pantallas pequeñas */
  }
  
  @media screen and (min-width: 768px) and (max-width: 991px) {
    /* Estilos para pantallas medianas (de 768px a 991px de ancho) */
    /* Aquí puedes agregar estilos específicos para pantallas medianas */
  }
  
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    /* Estilos para pantallas grandes (de 992px a 1199px de ancho) */
    /* Aquí puedes agregar estilos específicos para pantallas grandes */
  }
  
  @media screen and (min-width: 1200px) {
    /* Estilos para pantallas extra grandes (1200px o más de ancho) */
    /* Aquí puedes agregar estilos específicos para pantallas extra grandes */
  }
  

  #botonusuario{
    margin-left: 10px;

    width: 190px;
      background-color: #F8C404;
      color: white;
      border-radius: 20px;
      padding: 10px 20px;
      text-decoration: none;
      font-size: 15px;
      font-family: sans-serif;
      font-weight: bold;
  
  
    
    
  }

  #botonprestamo{
    margin-left: 10px;

    width: 190px;
      background-color: #0757FF;
      color: white;
      border-radius: 20px;
      padding: 10px 20px;
      text-decoration: none;
      font-size: 15px;
      font-family: sans-serif;
      font-weight: bold;
  
  
    
    
  }

  #botonusuario:hover {
    color: white;
    background-color: #ffcc00; /* Cambio de color al pasar el ratón */
  }

  @media (max-width: 992px) {
    .navbar-nav .nav-link span{
   font-size: 20px !important; /* O el tamaño de fuente deseado */
   width: 200px;

    }
    

    #bucadoryboton{
        width: 90% !important;
        
            }
  }

  @media (max-width: 462px) {
  
    .navbar-nav .nav-link span{
  font-size: 14px !important; /* O el tamaño de fuente deseado */
   width: 145px;
    }
    
   

    #botonprestamo {
     font-size: 7px !important;
     padding: 5px 10px;
    }
  }


 .modal-content {
    width: 1600px !important;

     }
  

     .long-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    

    /* Estilos para el fondo gris claro de los encabezados de la tabla */
.table thead th {
  background-color: #F1F4F9; /* Color de fondo gris claro */
}

/* Estilos para los bordes de la tabla */
.table {
  border: 2px solid #F1F4F9; /* Borde sólido de 2px */
}

/* Estilos para los bordes de las celdas de la tabla */
.table td, .table th {
  text-align: center; /* Centrar el texto horizontalmente */
  vertical-align: middle; /* Centrar el texto verticalmente */
  border: 1px solid #dee2e6; /* Borde sólido de 1px */
}

/* Estilos para el calendario */
.datepicker table {
  width: 100%;
}

.datepicker table thead th,
.datepicker table tbody td {
  text-align: center;
  padding: 0.75rem;
}

.datepicker table thead th {
  font-weight: bold;
}

.datepicker table tbody td {
  cursor: pointer;
}

.datepicker table tbody td.today {
  font-weight: bold;
}

.datepicker table tbody td:hover,
.datepicker table tbody td.active,
.datepicker table tbody td.active:hover {
  background-color: #f0f0f0;
}

.datepicker-dropdown {
  z-index: 2000;
}

.btn-custom {
  width: 100px; /* Puedes ajustar este valor según sea necesario */
}
