/* Estilos para el contenedor del buscador */
.search-container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  #searchInput {
    padding: 8px;
    border-radius: 5px 0 0 5px;
    border: 1px solid rgba(241, 244, 249, 1);
  }
  
  #searchButton {
    background-color: rgba(45, 96, 255, 1);
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  /* Estilos para la tabla */
  .data-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .data-table th {
    background-color: rgba(241, 244, 249, 1);
    padding: 10px;
  }
  
  .data-table td {
    border: 1px solid rgba(241, 244, 249, 1);
    padding: 10px;
  }
  
  .data-table th:last-child,
  .data-table td:last-child {
    text-align: center;
  }
  
  .data-table button {
    background-color: rgba(45, 96, 255, 1);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Estilos para iconos */
  .fa-search {
    color: white;
  }
  