#custom-upload {
    display: none; /* Ocultar el input tipo file */
}

.custom-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #718EBF;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.custom-button:hover {
    background-color: #45a049;
}

.custom-button-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #718EBF;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Estilos para el input de tipo file */
.custom-upload {
    border-radius: 5px; /* Bordes redondeados */
    border: 1px solid #ccc; /* Borde */
    padding: 8px; /* Espaciado interno */
}