body{
    background-image : url(../../img/img_generales/fondologin.png) ;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    }
    
    
    #contenedor-login{
        border-radius: 50px;
        width: 600px;
        margin-left: -90px;
    }
    
    #infologin{
        color: black;
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 23px;
        font-family:sans-serif; /* Reemplaza "Nombre de la fuente" con el nombre de la fuente moderna que desees usar */
        font-weight: bold; /* Aplica negrita al texto */
    }
    
    .form-label{
        color: #B4B4B4 !important;
        font-size: 17px;
        font-family:sans-serif;
    }
    
    /* Estilos personalizados para el botón */
    .btn-custom {
        margin-top: 25px;
        background-color: #F8C404; /* Color de fondo amarillo */
        color: white; /* Color de texto blanco */
        border-radius: 20px; /* Bordes redondeados */
        padding: 10px 60px; /* Espaciado interno */
        text-decoration: none; /* Quita la subrayado de enlace */
        font-size: 15px;
        font-family:sans-serif; /* Reemplaza "Nombre de la fuente" con el nombre de la fuente moderna que desees usar */
        font-weight: bold; /* Aplica negrita al texto */
      }
      
      .btn-custom:hover {
        color: white;
        background-color: #ffcc00; /* Cambio de color al pasar el ratón */
      }


      .btn-custom-regresar {
        
        margin-right: 100px;
        margin-top: 25px;
        background-color: #9F9F9F; /* Color de fondo amarillo */
        color: white; /* Color de texto blanco */
        border-radius: 20px; /* Bordes redondeados */
        padding: 10px 60px; /* Espaciado interno */
        text-decoration: none; /* Quita la subrayado de enlace */
        font-size: 15px;
        font-family:sans-serif; /* Reemplaza "Nombre de la fuente" con el nombre de la fuente moderna que desees usar */
        font-weight: bold; /* Aplica negrita al texto */
      }
      
      .btn-custom-regresar:hover {
        color: white;
        background-color: #94928b; /* Cambio de color al pasar el ratón */
      }
      
    
      /* Estilos personalizados para los campos de entrada */
    .form-control {
        border: 2px solid #ccc !important; /* Borde del campo */
        border-radius: 10px !important; /* Bordes redondeados */
        padding: 10px !important; /* Espaciado interno */
        font-size: 16px !important; /* Tamaño de fuente */
        transition: border-color 0.3s ease; /* Transición suave del color del borde */
      }
      
      /* Estilos cuando el campo de entrada tiene el foco */
      .form-control:focus {
        border-color: #007bff !important; /* Cambia el color del borde al azul cuando está enfocado */
        outline: none !important; /* Quita el contorno predeterminado del navegador */
      }
      
      /* Estilos para el texto de ayuda (placeholder) */
      .form-control::placeholder {
        padding-left: 5px;
        color: #999 !important; /* Color gris para el texto */
      }
      
      /* Estilo para los enlaces específicos */
    #contenedor-login .custom-link {
        margin-left: -38px !important;
        color: #B4B4B4 !important; /* Cambia el color de los enlaces a negro */
        text-decoration: none !important; /* Quita la subrayado predeterminado */
      }
      
      #contenedor-login .custom-link:hover {
        color: #333 !important; /* Cambia el color de los enlaces a un tono más oscuro al pasar el ratón */
      }
      
    /* Estilos adicionales para dispositivos móviles */
    @media (max-width: 765.98px) {
      #contenedor-login{
        width: auto;
        margin-left: 1px;
      }


      }
    
      @media (max-width: 1400px){
    
        #contenedor-login{
          width: auto;
          margin-right: -100px;
    
        }
    
      }
    
      @media (max-width: 767px) {
        #contenedor-login {
            width: 100%; /* O cualquier otro porcentaje que desees */
            margin: 20px auto; /* Margen en todos los lados para separar del borde de la página */
        }
    }
    
    .logo-img img:last-child {
      margin-left: 90px; /* Ajusta el valor según el espacio deseado entre los logos */
  }

 
  @media (max-width: 767px) {
  
    .btn-custom-regresar {
      margin-right: 10px; /* Ajusta el margen derecho */
    }

    .logo-img img:last-child {
      margin-left: 20px; /* Ajusta el valor según el espacio deseado entre los logos */
  }
  }

  @media (max-width: 439px) {
   .btn-custom{
    padding: 10px 40px; /* Espaciado interno */
   }

    .btn-custom-regresar{
      padding: 10px 40px; /* Espaciado interno */
    }
   
    #logocfp{
      position: absolute;
      margin-top: 150px;
      margin-left: -165px;
    }

    #logomylonad{
     margin-bottom: 200px;
    }
}

@media (max-width: 338px) {
  .btn-custom{
    padding: 10px 20px; /* Espaciado interno */
   }

    .btn-custom-regresar{
      padding: 10px 20px; /* Espaciado interno */
    }
   
    #logocfp{
      position: absolute;
      margin-top: 150px;
      margin-left: -165px;
    }

    #logomylonad{
     margin-bottom: 200px;
    }
}

#imagenContainer{
  margin-top: 520px;
  margin-left: 100px;
}
  
/* Agrega espacio alrededor del formulario */
.form-container {
  margin-top: 80px; /* Agrega espacio arriba del formulario */
  margin-bottom: 80px; /* Agrega espacio abajo del formulario */
}


#imagenSeleccionada {
max-width: 300px;
display: block; /* Asegura que la imagen se comporte como un bloque */
margin-left: auto; /* Centra la imagen horizontalmente */
margin-right: auto; /* Centra la imagen horizontalmente */
}
